.searchable-table{
  &-con1{
    height: auto !important;
  }
}
.pre-lable{
  font-weight: 400;
  font-size: small;
}
.avator-img{
  display: block;
  width: 80%;
  height: auto;
  max-width: 120px;
}

.member-card-user-infor-name{
  text-align: left;
  display: block;
  font-size: 20px;
  color: #2d8cf0;
}

.pre-total-value{
  font-size: medium;
  font-weight: 600;
  padding-left: 2px;
  padding-right: 2px
}

.pre-date{
  font-size: small;
  font-weight: 400;
  padding-left: 2px;
  padding-right: 2px
}

.grid_border{
  border-radius: 0px;
  //border-bottom: 1px solid #dcdcdc;
  border:  1px solid #dcdcdc;
}

.divide_line{
  height: 0;
  margin-bottom: 8px;
  margin-top: 8px;
  border-bottom: 1px solid #dcdcdc;
}

.header-img{
  display: block;
  width: 80%;
  max-width:90px;
  height: auto;
}

.fg_line{
  height: 0;
  border-bottom: 1px solid #dcdcdc;
}

.detail_title{
  background-color: #cccccc;
  padding: 5px;
  height: 100%;
  text-align: center;
}

.padding-left-right-0{
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
}

.detail_value{
  padding: 5px;
  height: 100%;
  font-weight: 400;
  text-align: left;
}

.table_box{
  height: 320px;
}

//.ivu-table-row-highlight td, .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td, tr.ivu-table-row-highlight.ivu-table-row-hover td{
//  background-color:#4876FF;
//}